<div class="container-fluid">
    <div class="mt-5 mb-2">
        <div class="row justify-content-md-center">            
            <div class="col-lg-8">
                <div id="create-habitacion">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><b>FORMULARIO CREACI&Oacute;N HABITACIÓN - HOTEL</b></li>
                        </ol>
                    </nav>
                    <form action="#"  id="form-habitacion" autocomplete="off" class="needs-validation" validate>
                        <!-- Datos de creacion -->
                        <div class="card">
                            <h3 class="card-header bg-primary text-white" style="background: #2c5c99 !important;">Datos de creación habitación</h3>
                            <div  class="card-block">
                                <div class="form-group row ml-3 mt-4 pr-5">
                                    <label for="inputPassword" class="col-sm-2 col-form-label"><b>Hotel</b></label>
                                    <div class="col-sm-4">
                                        <select class="custom-select col-sm-12" id="id_hotel" name="id_hotel" required>
                                            <option v-for="row in hotels" v-bind:value="row.value">{{ row.text }}</option>
                                        </select>
                                    </div>
                                    <label for="inputPassword" class="col-sm-2 col-form-label text-right text-nowrap"><b>Tipo Habitación </b></label>
                                    <div class="col-sm-4">
                                        <select v-model="id_hab" class="custom-select col-sm-12" id="id_hab" name="id_hab" required v-on:change="get_acomodacion()">
                                            <option v-for="row in typeRooms" v-bind:value="row.value">{{ row.text }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row ml-3 pr-5">
                                    <label for="inputPassword" class="col-sm-2 col-form-label text-nowrap"><b>Acomodación</b></label>
                                    <div class="col-sm-4">
                                        <select class="custom-select col-sm-12" id="id_acom" name="id_acom" required>
                                            <option v-for="row in acom" v-bind:value="row.value">{{ row.text }}</option>
                                        </select>
                                    </div>
                                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"><b>Cantidad</b></label>
                                    <div class="col-sm-4">
                                        <input type="number"
                                               class="form-control"
                                               id="num_hab"
                                               name="num_hab"
                                               min="1"
                                               max="10000"
                                               required
                                               v-on:keypress="isNumber(event)"
                                               placeholder="Número de habitaciones">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-success text-muted">
                                <button type="submit" class="form-control bg-success text-white" title="Guardar" style="border: none;">Guardar</button>
                            </div>
                            <div class="card-footer bg-danger text-muted">
                                <button type="button" class="form-control bg-danger text-white" onclick="back_menu()" title="Guardar" style="border: none;">Regresar</button>
                            </div>                                 
                        </div>                        
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
<script type="text/javascript" src="<?= base_url("public/create-habitacion.js?val=").rand(1,999999999); ?>"></script>
<script>
                                    document.getElementById('form-habitacion').onsubmit = function (e) {

                                        e.preventDefault();
                                        var inputs = document.querySelector("form").elements;
                                        var values = {};

                                        for (var i = 0; i < inputs.length; i++) {
                                            values[inputs[i].name] = inputs[i].value;
                                        }

                                        var msjConfirm = 'Desea crear habitacion con la codificación dada ? <b>';

                                        alertify.confirm('Mensaje de Confirmación',
                                                msjConfirm,
                                                function () {
                                                    var data = btoa(JSON.stringify(values));
                                                    var http = new XMLHttpRequest();
                                                    var params = 'data=' + data;
                                                    var url = ruta_proyecto + "index.php/create_habitacion/";
                                                    http.open("POST", url, false);
                                                    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                                    http.onreadystatechange = function () {
                                                        if (http.readyState === 4 && http.status === 200) {
                                                            
                                                            var data = JSON.parse(this.responseText);
                                                            if(data.status){
                                                                alertify.success(data.msj);
                                                                alertify.alert('Mensaje', 'Se creo el habitacion de manera correcta.');
                                                            }else{
                                                                alertify.warning(data.msj);    
                                                            }
                                                            
                                                            setTimeout(function () {
                                                                window.location.reload(1);
                                                            }, 6000);
                                                        } else {
                                                            alertify.alert("Error", "Favor comunicarse con el area de sistemas");
                                                        }
                                                    }
                                                    http.send(params);

                                                },
                                                function () {
                                                    alertify.error('No se creo solicitud');
                                                }
                                        );
                                    }
</script>
